<header>
    <ul class="nav justify-content-left " style="background-color: azure; padding: 10px; backdrop-filter: blur(10px); box-shadow: 10px, 10px;">
        <div>
            <img style="width: 60px; height: 60px;"
            src="https://cdn2.coppel.com/wcsstore/AuroraStorefrontAssetStore/emarketing/OpenGraph/og_coppel.jpg">
            <span style="margin-left: 30px;" class="justify-content-center">ABC Productos</span>
        </div>
        <li class="nav-item">
            <a class="nav-link" routerLink="/products" aria-current="page">Productos</a>
        </li>
        
    </ul>
</header>
<body>
    <router-outlet></router-outlet>    
</body>